* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.clickable:hover {
	cursor: pointer;
}
.brand {
	color: #5842B8;
}
.floatleft {
	float: left;
}
span.no-selection {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}


/** Used for the area under the navbar. Make a semi-transparent grey background. **/
.content {
	margin: 0 auto;
	text-align: center;
	height: 100%;
	background-color: rgb(128,128,128);
	background-color: rgba(128,128,128, 0.7); /*ie6 will ignore this*/
}


/** Used for styling the backgrounds **/
.custombg-stretch {
	/* Stretched Background Image */
	background: url(../wallpapers/Amaterasu_Wallpaper.jpg) no-repeat center center fixed;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/
}
.custombg-fit {
	/* Fit Background Image. Kinda kludgey. */
	position:fixed !important;
	top:40px;
	right:0;
	bottom:0;
	left:0;
	padding: 5px;
	z-index: -1;
	
	background: #000000 url(../wallpapers/Amaterasu_Wallpaper.jpg) no-repeat center center fixed;
	background-size: auto 100%;	
}


/** Used for row spans with Text **/
.textbox {
	background-color: #445569;
	border-radius:20px;
	border:5px solid #47423F;
	padding:20px;
	text-align:left;
	color:#C0C0C0;
}
.row-fluid.text {
	padding:10px;
}


/** Cards **/
.placeholder-image {
	height:257px;
	width:200px
}
.new-card {
	border: 5px solid yellow;
}
.cards {
	display: block;
	position: relative;
}
.cards .card {
	display: inline-block;
	vertical-align: top;
	margin: 5px 2px;
	width: 200px;
}
.cards .card-image {
	position: relative;
}


/** Card Stats Box **/
.cards .card-image .statusBox {
	position:absolute;
	bottom:6px;
	width:90%;
	
	background-color: rgb(0,0,0);	
	background-color: rgba(0,0,0,0.8);
	padding: .5em;
	border-radius: 5px;
	margin-top: 5px;
	color: white;
	
	/* Center the box */
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
.cards .card-image .statusBox .attack {
	float: left;
}
.cards .card-image .statusBox .attack  b{
	color: red;
}
.cards .card-image .statusBox .defense{
	float: right;
}
.cards .card-image .statusBox .defense b {
	color: blue;
}


/** Card Like Box */
.cards .card .likeBox {
	background-color: black;
	padding: .5em;
	border-radius: 5px;
	margin-top: 5px;
	color: white;
	text-align: center;
}
.cards .card .likeBox .likeCount {
	width:30px;
	display:inline-block
}
.cards .card .likeBox span {
	color: grey;
	margin: 0 5px;
}


/** Card Info box **/
.card .list-infoBox {
	background-color: black;
	padding: 1.5em;
	border-radius: 5px;
	margin-top: 5px;
	min-height: 300px;
	max-height: 300px;
	text-align: left;
	overflow: hidden;	
}
.card .list-infoBox .name {
	font-weight: bold;
}
.card .list-infoBox .caption {
	color: green;
}
.card .list-infoBox .lore {
}


/** Card Detail Modal **/
#cardDetailsModal {
	width: 900px; /* 900px */
	height: 800px; /* 800px */
	background-color: #E8E8E8;
}
.modal-header {
	color: #9b30ff;
	border-bottom: 1px solid black;
}
.modal-body {
	max-height: 800px; /* 800px */
	overflow-x: visible;
}
.detail-image {
	float: left;
	width: 560px;
	height: 720px; /* 720px */
}
.detail-infobox {
	float: right;
	width: 300px;    /* 300px */
	height: 720px; /* 720 */
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
}
.detail-infobox-nav {
	position:absolute;
	text-align:center;
	bottom:15px;
	width:280px; /* 280 */
}

/* For Open Pack Page */
.slot {
	display: inline-block;
	width: 210px;
}

/** Table Styles **/
.borderless {
	border: none;
}
.borderless td {
	border: none;
}
.semi-borderless {
	border: 1px solid grey;
}
.semi-borderless th {
	border-top: none;
	border-bottom: 1px solid grey;
}
.semi-borderless td {
	border: none;
}


/* Made with http://charliepark.org/bootstrap_buttons/ */
.btn-custom {
	background-color: hsl(251, 36%, 39%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#604fa9", endColorstr="#4c3f87");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#604fa9), to(#4c3f87));
	background-image: -moz-linear-gradient(top, #604fa9, #4c3f87);
	background-image: -ms-linear-gradient(top, #604fa9, #4c3f87);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #604fa9), color-stop(100%, #4c3f87));
	background-image: -webkit-linear-gradient(top, #604fa9, #4c3f87);
	background-image: -o-linear-gradient(top, #604fa9, #4c3f87);
	background-image: linear-gradient(#604fa9, #4c3f87);
	border-color: #4c3f87 #4c3f87 hsl(251, 36%, 36.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
	-webkit-font-smoothing: antialiased;
}